flows.json
[{"id":"c7fea9b.034e958","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"822e6af0.7e3c78","type":"function","z":"c7fea9b.034e958","name":"PreToken","func":"global.set(\"dg\",msg.payload.dg)\nglobal.set(\"fvc\",msg.payload.fvc)\nglobal.set(\"fev\",msg.payload.fev)\nglobal.set(\"pf\",msg.payload.pf)\nglobal.set(\"pa\",msg.payload.pa)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"dy\",msg.payload.dy)\nglobal.set(\"co\",msg.payload.co)\nglobal.set(\"wk\",msg.payload.wk)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"di\",msg.payload.di)\nglobal.set(\"ml\",msg.payload.ml)\nglobal.set(\"pad\",msg.payload.pad)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"as\",msg.payload.as)\nglobal.set(\"ag\",msg.payload.ag)\n\nvar apikey=\"BEJFzUcX8RlBu43ijTsxCrnUasA07Ojte2GPeyqref9M\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":420,"wires":[["f1e925b5.4b1e18"]]},{"id":"f1e925b5.4b1e18","type":"http request","z":"c7fea9b.034e958","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":480,"wires":[["f646cf2.f41c93","d65396e1.416398"]]},{"id":"2728550f.f29d1a","type":"debug","z":"c7fea9b.034e958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":420,"wires":[]},{"id":"f646cf2.f41c93","type":"function","z":"c7fea9b.034e958","name":"Pre Prediction","func":"var dg = global.get('dg')\nvar fvc = global.get('fvc')\nvar fev = global.get('fev')\nvar pf = global.get('pf')\nvar pa = global.get('pa')\nvar ha = global.get('ha')\nvar dy = global.get('dy')\nvar co = global.get('co')\nvar wk = global.get('wk')\nvar ts = global.get('ts')\nvar di = global.get('di')\nvar ml = global.get('ml')\nvar pad = global.get('pad')\nvar sm = global.get('sm')\nvar as = global.get('as')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"232ee681-8d84-4cc8-a9c1-5d0a8cecd2b6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Diagnosis\", \"FVC\", \"FEV1\", \"Performance\", \"Pain\", \"Haemoptysis\", \"Dyspnoea\", \"Cough\", \"Weakness\", \"Tumor_Size\", \"Diabetes_Mellitus\", \"MI_6mo\", \"PAD\", \"Smoking\", \"Asthma\", \"Age\"], \"values\": [[dg,fvc,fev,pf,pa,ha,dy,co,wk,ts,di,ml,pad,sm,as,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":420,"wires":[["ca5b44a.c68d6b8"]]},{"id":"ca5b44a.c68d6b8","type":"http request","z":"c7fea9b.034e958","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f55b61d2-6993-49f8-89f9-c724425ae5b7/predictions","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":280,"wires":[["2fa427e4.7c0ef8","2728550f.f29d1a"]]},{"id":"60f2e0c7.05805","type":"ui_form","z":"c7fea9b.034e958","name":"","label":"","group":"5377fbc5.f52a14","order":1,"width":0,"height":0,"options":[{"label":"Diagnosis","value":"dg","type":"number","required":true,"rows":null},{"label":"FVC","value":"fvc","type":"number","required":true,"rows":null},{"label":"FEV1","value":"fev","type":"number","required":true,"rows":null},{"label":"Performance","value":"pf","type":"number","required":true,"rows":null},{"label":"Pain","value":"pa","type":"number","required":true,"rows":null},{"label":"Haemoptysis","value":"ha","type":"number","required":true,"rows":null},{"label":"Dyspnoea","value":"dy","type":"number","required":true,"rows":null},{"label":"Cough","value":"co","type":"number","required":true,"rows":null},{"label":"Weakness","value":"wk","type":"number","required":true,"rows":null},{"label":"Tumor_Size","value":"ts","type":"number","required":true,"rows":null},{"label":"Diabetes_Mellitus","value":"dm","type":"number","required":true,"rows":null},{"label":"MI_6mo","value":"ml","type":"number","required":true,"rows":null},{"label":"PAD","value":"pad","type":"number","required":true,"rows":null},{"label":"Smoking","value":"sm","type":"number","required":true,"rows":null},{"label":"Asthma","value":"as","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"dg":"","fvc":"","fev":"","pf":"","pa":"","ha":"","dy":"","co":"","wk":"","ts":"","dm":"","ml":"","pad":"","sm":"","as":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":480,"wires":[["822e6af0.7e3c78"]]},{"id":"be8371a5.e9a2c","type":"ui_text","z":"c7fea9b.034e958","group":"5377fbc5.f52a14","order":2,"width":"4","height":"1","name":"","label":"Death_1_yr","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":120,"wires":[],"info":"Lung cancer is the most common form of cancer world-wide, and the most common cause of cancer death. Radical surgical resection, with or without adjuvant treatment, is still a Prerequisite for cure. In spite of different additional modes of treatment, survival is still poor.It is important to have knowledge of peri- and postoperative mortality (life expectancy) and morbidity (health complications), and also of risk factors prior to surgery, to be able to improve the quality of operative procedures and identify patients running the highest risk.This helps to optimize the patient’s condition, medication and respiratory status before surgery. Furthermore, the operative risks must be considered in relation to the long-term results in order to identify patients who will clearly benefit from surgery."},{"id":"2fa427e4.7c0ef8","type":"function","z":"c7fea9b.034e958","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":180,"wires":[["be8371a5.e9a2c"]]},{"id":"d65396e1.416398","type":"debug","z":"c7fea9b.034e958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":540,"wires":[]},{"id":"5377fbc5.f52a14","type":"ui_group","z":"","name":"Post Thoracic Surgery","tab":"a959d978.7d24c8","order":1,"disp":true,"width":"7","collapse":false},{"id":"a959d978.7d24c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]